include:
  - path: ../compose.networks.yml
services:
  loki:
    container_name: loki
    image: grafana/loki:3.4.4
    extends:
      file: ../compose.base.yml
      service: x-base-service
    user: 0:0
    ports:
      - "0.0.0.0:3100:3100"
    volumes:
      - ${HOSTING_DIR}/loki/config/loki-config.yaml:/etc/loki/loki-config.yaml
      - ${HOSTING_DIR}/loki/data:/data/loki
    command: -config.file=/etc/loki/loki-config.yaml
    deploy:
      resources:
        limits:
          # Adjust these values based on your host's capacity
          memory: 2g
    healthcheck:
      # Loki's health check endpoint is /ready
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3100/ready"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  promtail:
    image: grafana/promtail:latest
    extends:
      file: ../compose.base.yml
      service: x-base-service
    volumes:
      - ${HOSTING_DIR}/loki/config/promtail-config.yaml:/etc/promtail/config.yml
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers
    command: -config.file=/etc/promtail/config.yml
    ports:
      - "9080:9080"
