# In ${HOSTING_DIR}/grafana/configs/tempo.yaml

server:
  http_listen_port: 3200

compactor:
  compaction:
    compaction_window: 1h
    max_block_bytes: 100_000_000 # 100MB
    block_retention: 48h
    compacted_block_retention: 1h

storage:
  trace:
    backend: local
    wal:
      path: /var/tempo/wal
    local:
      path: /var/tempo
