include:
  - path: ../compose.networks.yml
services:
  keytag:
    image: apogee-dev/keytag:local
    user: 0:0
    extends:
      file: ../compose.base.yml
      service: x-base-service
    env_file:
      - .env
    labels:
      - traefik.docker.network=public-proxy
      - traefik.enable=true

      - traefik.http.routers.keytag-backend-blocker.rule=Host(`keytag.apogee-dev.com`) && Path(`/health/ready`)
      - traefik.http.routers.keytag-backend-blocker.priority=100
      - traefik.http.routers.keytag-backend-blocker.service=noop@internal

      - traefik.http.routers.keytag.entrypoints=websecured
      - traefik.http.routers.keytag.rule=Host(`keytag.apogee-dev.com`)
      - traefik.http.routers.keytag.priority=50
      - traefik.http.routers.keytag.service=keytag
      - traefik.http.routers.keytag.tls=true
      - traefik.http.routers.keytag.tls.certResolver=default
      - traefik.http.routers.keytag.tls.domains[0].main=*.apogee-dev.com
      - traefik.http.routers.keytag.tls.domains[0].sans=apogee-dev.com

      - traefik.http.services.keytag.loadbalancer.server.port=5000
      - traefik.http.services.keytag.loadbalancer.healthcheck.path=/health/ready
    volumes:
      - ${HOSTING_DIR}/keytag/dpapi-keys:/dpapi-keys
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:5000/health/ready || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
