services:
  nginx:
    image: nginx:alpine
    profiles:
      - infrastructure
    volumes:
      - "./public:/usr/share/nginx/html:ro"
      - "./nginx.conf:/etc/nginx/conf.d/default.conf:ro"
    restart: unless-stopped
    labels:
      - "traefik.docker.network=public-proxy"
      - "traefik.enable=true"
      - "traefik.http.routers.robotstxt.rule=Path(`/robots.txt`)"
      - "traefik.http.routers.robotstxt.priority=9999"
      - "traefik.http.routers.robotstxt.entrypoints=web,websecured"
      - "traefik.http.routers.robotstxt.tls.domains[0].main=*.apogee-dev.com"
      - "traefik.http.routers.robotstxt.tls.domains[0].sans=apogee-dev.com"
      - "traefik.http.routers.robotstxt.tls.certResolver=default"
      - "traefik.http.routers.robotstxt.service=robotstxt"
      - "traefik.http.services.robotstxt.loadbalancer.server.port=80"
    networks:
      - public-proxy

networks:
  public-proxy:
    external: true
