include:
  - path: ../compose.networks.yml

services:
  forwardauth:
    image: apogee-dev/traefik-forward-auth:local
    extends:
      file: ../compose.base.yml
      service: x-base-service
    labels:
      - "traefik.docker.network=public-proxy"
      - "traefik.enable=true"
      - "traefik.http.routers.internal-auth.entrypoints=websecured"
      - "traefik.http.routers.internal-auth.rule=Host(`fwd-auth.internal.apogee-dev.com`) || Host(`fwd-auth.apogee-dev.com`)"
      - "traefik.http.routers.internal-auth.middlewares=default-compress@file"
      - "traefik.http.routers.internal-auth.service=internal-auth"
      - "traefik.http.routers.internal-auth.tls=true"
      - "traefik.http.routers.internal-auth.tls.certResolver=default"
      - "traefik.http.routers.internal-auth.tls.domains[0].main=fwd-auth.internal.apogee-dev.com"
      - "traefik.http.routers.internal-auth.tls.domains[1].main=fwd-auth.apogee-dev.com"

      - "traefik.http.services.internal-auth.loadbalancer.server.port=5000"
    volumes:
      - "${HOSTING_DIR}/traefik-forward-auth/dpapi-keys:/dpapi-keys"
    container_name: webdb-forward-auth
    environment:
      App_AppOptions__Username: "${BasicAuthUser}"
      App_AppOptions__Password: "${BasicAuthPassword}"
      APP_AppOptions__MongoDbConnection: "${MongoDbConnection}"
      APP_AppOptions__DatabaseName: "${DatabaseName}"
      APP_AppOptions__AuthCookieDomain: "${AuthCookieDomain}"
      APP_ConnectionStrings__cache: "${REDIS}"
      APP_OTLP_ENDPOINT_URL: "${OTLP_ENDPOINT_URL}"

  manager:
    image: apogee-dev/traefik-auth-manager:local
    extends:
      file: ../compose.base.yml
      service: x-base-service
    # restart: on-failure:3
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      OTEL_EXPORTER_OTLP_TRACES_INSECURE : true
      OTEL_EXPORTER_OTLP_METRICS_INSECURE : true
      APP_TRACING_ENABLED: true
    labels:
      - "traefik.docker.network=public-proxy"
      - "traefik.enable=true"
      - "traefik.http.routers.auth-manager-app.entrypoints=websecured"
      - "traefik.http.routers.auth-manager-app.rule=Host(`fwd-auth-manager.internal.apogee-dev.com`)"
      - "traefik.http.routers.auth-manager-app.middlewares=default-compress@file"
      - "traefik.http.routers.auth-manager-app.service=auth-manager-app"
      - "traefik.http.routers.auth-manager-app.tls=true"
      - "traefik.http.routers.auth-manager-app.tls.domains[0].main=fwd-auth-manager.internal.apogee-dev.com"

      - "traefik.http.services.auth-manager-app.loadbalancer.server.port=8000"
      - "traefik.http.services.auth-manager-app.loadbalancer.healthcheck.path=/healthcheck/ready"
    volumes:
      - "${HOSTING_DIR}/traefik-forward-auth/manager/config.yaml:/home/app/config.yaml:ro"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthcheck/live"]
      interval: 45s
      timeout: 30s
      retries: 3
      start_period: 10s
