auth_enabled: false
analytics:
  reporting_enabled: false
  usage_stats_url: ""

server:
  http_listen_port: 3100

common:
  path_prefix: /data/loki
  storage:
    filesystem:
      chunks_directory: /data/loki/chunks
      rules_directory: /data/loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

# This section controls limits, including data retention.
limits_config:
  # How long to keep logs for. 1440h is 60 days (approx. 2 months).
  retention_period: 1440h
  # Allow querying the full retention period
  max_query_length: 1440h

querier:
  max_concurrent: 2

query_range:
  parallelise_shardable_queries: true
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100
        ttl: 24h

# Compactor is responsible for optimizing index and log data.
compactor:
  working_directory: /data/loki/compactor
  compaction_interval: 10m
  retention_enabled: true
  retention_delete_delay: 2h
  retention_delete_worker_count: 150
  delete_request_store: filesystem
  delete_request_store_key_prefix: delete-requests/
