# acme.json must have permissions '600'
include:
  - path: ../compose.networks.yml

services:
  # The reverse proxy service (Traefik)
  reverse-proxy:
    container_name: traefik # not supported in swarm mode
    image: traefik:v3.5 # The official Traefik docker image
    extends:
      file: ../compose.base.yml
      service: x-base-service
    user: 0:0
    ports:
      - "80:80" # The HTTP port
      - "443:443"
      - "8080:8080" # The Web UI (enabled by --api)
      - "8090:8090" # redis manager
      - "27000:27000" # webapp-db
      - "25000:25000/udp" # minecraft
      - "4000:4000" # forward auth
    extra_hosts:
      - "proxy.internal.apogee-dev.com:192.168.0.200"
    environment:
      - OTEL_PROPAGATORS=tracecontext,baggage,jaeger
      - AWS_PROFILE=${AWS_PROFILE}
      - AWS_REGION=${AWS_REGION}
      - AWS_HOSTED_ZONE_ID=${AWS_HOSTED_ZONE_ID}
      - DOCKER_API_VERSION=1.44
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events
      - ${HOME}/.aws/credentials:/root/.aws/credentials:ro
      - ./traefik.yml:/traefik.yml
      - ./traefik_dynamic.yml:/traefik_dynamic.yml
      - ${HOSTING_DIR}/traefik/acme.json:/acme.json
      - ${HOSTING_DIR}/traefik/acme-internal.json:/acme-internal.json
      - ${HOSTING_DIR}/local_ssl_certs:/local_ssl_certs
