http:
  routers:
    api:
      entryPoints:
        - traefik
      rule: "Host(`traefik.local`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      service: api@internal
    screencast:
      entryPoints:
        - websecured
      rule: "Host(`screencast.apogee-dev.com`)"
      service: screencast
      middlewares:
        - "screencast"
      tls:
        certResolver: default
        options: no-sni-strict
        domains:
          - main: screencast.apogee-dev.com

  services:
    screencast:
      loadBalancer:
        servers:
          - url: "http://192.168.0.127:8080"
  middlewares:
    screencast:
      forwardauth:
        address: https://fwd-auth.apogee-dev.com/login/check?token=e25c7a2a-6310-45b8-a476-e09da04a6705
        addAuthCookiesToResponse: .fwd-auth-custom
        trustForwardHeader: true
        tls:
          insecureSkipVerify: true
    fwdauth-global:
      forwardauth:
        address: "https://fwd-auth.internal.apogee-dev.com/login/check"
        addAuthCookiesToResponse:
          - ".fwd-auth-internal.apogee-dev.com"
          - ".fwd-auth-apogee-dev.com"
          - ".fwd-auth-custom"
        trustForwardHeader: true
        tls:
          insecureSkipVerify: true
    oneperminute-ratelimit:
      rateLimit:
        average: 1
        period: 1m
    onereq-ratelimit:
      rateLimit:
        average: 2
        burst: 1
    redirect:
      redirectScheme:
        scheme: https
        permanent: true
        port: 443
    default-compress:
      compress: {}
    x-frame-options-deny:
      headers:
        customresponseheaders:
          X-Frame-Options: DENY
    cache-control:
      headers:
        customresponseheaders:
          Cache-Control: private, max-age=3600, must-revalidate
    remove-prefix:
      stripPrefix:
        prefixes:
          - "/auth"
          - "/my-tracker"
          - "/webdb"

tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: default
        domain:
          main: apogee-dev.com
    internal:
      defaultGeneratedCert:
        resolver: dns_route53
        domain:
          main: internal.apogee-dev.com

  options:
    default:
      minVersion: VersionTLS12
      sniStrict: false

    mintls13:
      minVersion: VersionTLS13

    no-sni-strict:
      sniStrict: false
      minVersion: VersionTLS12
