

services:
  webapp:
    image: apogee-dev/webhook-tester:local
    restart: unless-stopped
    user: 0:0
    volumes:
      - "${HOSTING_DIR}/webhook-tester/dpapi-keys:/dpapi-keys"
    environment:
      APP_ConnectionStrings__MainStore: "${WEBHOOK_TESTER_MainStore}"
      APP_AppPathPrefix: /webhook-tester
      APP_Logging__LogLevel__Microsoft.AspNetCore: Information
      APP_OAuthOptions__Authority: "${WEBHOOK_TESTER_Authority}"
      APP_OAuthOptions__ClientId: "${WEBHOOK_TESTER_ClientId}"
      APP_OAuthOptions__ClientSecret: "${WEBHOOK_TESTER_ClientSecret}"
    labels:
      - "traefik.docker.network=public-proxy"
      - "traefik.enable=true"
      # rate-limited route
      - "traefik.http.routers.webhooktester-ratelimited.entrypoints=websecured"
      - traefik.http.routers.webhooktester-ratelimited.rule=Host(`offsite.apogee-dev.com`) && Method(`POST`) && PathRegexp(`^\/(?i:webhook-tester\/session[\/]{0,1})`)
      - "traefik.http.routers.webhooktester-ratelimited.middlewares=default-compress@file,webhooktester,oneperminute-ratelimit@file"
      - "traefik.http.routers.webhooktester-ratelimited.tls=true"
      - "traefik.http.routers.webhooktester-ratelimited.tls.domains[0].main=offsite.apogee-dev.com"
      - "traefik.http.routers.webhooktester-ratelimited.tls.certResolver=default"
      - "traefik.http.routers.webhooktester-ratelimited.service=webhooktester"
      # general router by app prefix
      - "traefik.http.routers.webhooktester.entrypoints=websecured"
      - "traefik.http.routers.webhooktester.rule=Host(`offsite.apogee-dev.com`) && PathPrefix(`/webhook-tester`)"
      - "traefik.http.routers.webhooktester.priority=1"
      - "traefik.http.routers.webhooktester.middlewares=default-compress@file,webhooktester" #onereq-ratelimit@file
      - "traefik.http.routers.webhooktester.tls=true"
      - "traefik.http.routers.webhooktester.tls.domains[0].main=offsite.apogee-dev.com"
      - "traefik.http.routers.webhooktester.tls.certResolver=default"
      - "traefik.http.routers.webhooktester.service=webhooktester"

      - "traefik.http.middlewares.webhooktester.stripprefix.prefixes=/webhook-tester"

      - "traefik.http.services.webhooktester.loadbalancer.server.port=5000"
    networks:
      - public-proxy

networks:
  public-proxy:
    external: true
