include:
  - path: ../compose.networks.yml
services:
  mongodb:
    image: mongodb/mongodb-community-server:7.0.16-ubuntu2204
    profiles:
      - database
    extends:
      file: ../compose.base.yml
      service: x-base-service
    user: 0:0
    deploy:
      resources:
        limits:
          memory: 1g
    ports:
      - "27017:27017"
    volumes:
      - "${HOSTING_DIR}/mongodb/storage:/data/db"
    container_name: mongo-db
    environment:
      MONGODB_INITDB_ROOT_USERNAME: ${RootUsername}
      MONGODB_INITDB_ROOT_PASSWORD: ${RootPassword}

  webdb:
    image: webdb/app:latest
    profiles:
      - database
    restart: unless-stopped
    extends:
      file: ../compose.base.yml
      service: x-base-service
    labels:
      - "traefik.docker.network=public-proxy"
      - "traefik.enable=true"
      - "traefik.http.routers.webdb-app.rule=Host(`webdb.internal.apogee-dev.com`)"
      - "traefik.http.routers.webdb-app.entrypoints=websecured"
      - traefik.http.routers.webdb-app.middlewares=webdb-header,fwdauth-global@file
      - "traefik.http.routers.webdb-app.service=webdb-app"
      - traefik.http.routers.webdb-app.tls=true
      - traefik.http.routers.webdb-app.tls.certResolver=dns_route53
      - traefik.http.routers.webdb-app.tls.domains[0].main=*.internal.apogee-dev.com
      - traefik.http.routers.webdb-app.tls.domains[0].sans=internal.apogee-dev.com

      - traefik.http.middlewares.webdb-header.headers.customrequestheaders.X-Service-Token=${WebDBToken}

      - "traefik.http.services.webdb-app.loadbalancer.server.port=22071"
    container_name: webdb
    environment:
      PROTECTED_MODE: false
