include:
  - path: ../compose.networks.yml

services:
  portainer:
    image: portainer/portainer-ce:latest
    extends:
      file: ../compose.base.yml
      service: x-base-service
    user: 0:0
    command: --admin-password-file '/secrets/portainer-admin-pass' --tlscert /certs/_wildcard.internal.apogee-dev.com.pem --sslkey /certs/_wildcard.internal.apogee-dev.com-key.pem
    ports:
      - "19443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "${HOSTING_DIR}/portainer/data:/data"
      - "${HOSTING_DIR}/portainer/secrets:/secrets"
      - "${HOSTING_DIR}/local_ssl_certs:/certs"
    container_name: portainer # not supported in swarm mode
