include:
  - path: ../compose.networks.yml
services:
  illuminate-site:
    image: apogee-dev/illuminate-support:local
    profiles:
      - apps
    extends:
      file: ../compose.base.yml
      service: x-base-service
    labels:
      - traefik.docker.network=public-proxy
      - traefik.enable=true
      - traefik.http.routers.illuminate.entrypoints=websecured
      - traefik.http.routers.illuminate.rule=Host(`illuminate.apogee-dev.com`)
      - traefik.http.routers.illuminate.middlewares=default-compress@file,remove-prefix@file
      - traefik.http.routers.illuminate.tls=true
      - traefik.http.routers.illuminate.tls.certResolver=default
      - traefik.http.routers.illuminate.tls.domains[0].main=*.apogee-dev.com
      - traefik.http.routers.illuminate.tls.domains[0].sans=apogee-dev.com
      - traefik.http.routers.illuminate.service=illuminate
      - traefik.http.services.illuminate.loadbalancer.server.port=8000
networks: {}
