services:
  game-server:
    image: apogee-dev/minecraft:local
    user: root
    # restart: unless-stopped
    environment:
      MC_GAMEMODE: creative
      TZ: "America/New_York"
      MC_ENABLE_LAN_VISIBILITY: false
      MC_FORCE_IPV6_DEFAULT_NON_DEFAULT_PORTS: false
    volumes:
      - "./server.properties:/home/app/minecraft/data/server.properties:ro"
      - "minecraft-worlds:/home/app/minecraft/worlds"
      - "${HOSTING_DIR}/minecraft/data/permissions.json:/home/app/minecraft/permissions.json"
      - "${HOSTING_DIR}/minecraft/data/allowlist.json:/home/app/minecraft/allowlist.json"
    expose:
      - "19140/udp"
    # Added critical capabilities to handle the socket initialization
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_PTRACE
    labels:
      - "traefik.docker.network=public-proxy"
      - "traefik.enable=true"
      - "traefik.udp.routers.minecraft.entrypoints=minecraft"

      - "traefik.udp.routers.minecraft.service=minecraft"

      - "traefik.udp.services.minecraft.loadbalancer.server.port=19140"
    networks:
      - public-proxy
    # Added sysctls to allow the non-root user more control over the UDP buffer
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0

networks:
  public-proxy:
    external: true
volumes:
  minecraft-worlds:
    external: true
