include:
  - path: ../compose.networks.yml
services:
  redis-db:
    image: redis:7-alpine
    profiles:
      - database
    extends:
      file: ../compose.base.yml
      service: x-base-service
    ports:
      - "6379:6379"
    container_name: redis-db

  redis-manager:
    image: patrikx3/p3x-redis-ui:2025.10.110
    profiles:
      - database
    extends:
      file: ../compose.base.yml
      service: x-base-service
    volumes:
      - "${HOSTING_DIR}/redis/manager/settings:/settings"
    labels:
      - traefik.enable=true
      - traefik.docker.network=public-proxy
      - traefik.http.routers.redis-manager.entrypoints=websecured
      - traefik.http.routers.redis-manager.rule=Host(`redis.internal.apogee-dev.com`)
      - traefik.http.routers.redis-manager.middlewares=redis-header,default-compress@file,fwdauth-global@file
      - traefik.http.routers.redis-manager.tls=true
      - traefik.http.routers.redis-manager.tls.domains[0].main=*.internal.apogee-dev.com
      - traefik.http.routers.redis-manager.service=redis-manager

      - traefik.http.middlewares.redis-header.headers.customrequestheaders.X-Service-Token=${REDIS_AUTH_TOKEN}

      - traefik.http.services.redis-manager.loadbalancer.server.port=7843
